@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

body {
  font-family: "Nunito", sans-serif;
  background: #1c92d2;
  background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);
  background: linear-gradient(to right, #f2fcfe, #1c92d2);
}

.App {
  text-align: center;
}

.wrapper {
  width: 90%;
  margin-left: 5%;
  background-color: rgb(200, 200, 200);
  border-radius: 0px 5px 5px 5px;
}

.tabTitle {
  margin-block-start: 0;
}

.tabWrapper {
  position: relative;
  top: 20px;
}
