@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

body {
  font-family: "Nunito", sans-serif;
  background: #1c92d2;
  background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);
  background: linear-gradient(to right, #f2fcfe, #1c92d2);
}

.App {
  text-align: center;
}

.wrapper {
  width: 90%;
  margin-left: 5%;
  background-color: rgb(200, 200, 200);
  border-radius: 0px 5px 5px 5px;
  height: auto;
  max-height: 75vh;
  padding-bottom: 20px;
  overflow-y: scroll;
  box-shadow: 2px 2px rgb(150, 150, 150);
}

.wrapper > p {
  max-width: 90%;
  margin-left: 5%;
}

.tabTitle {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 10px;
  text-align: left;
}

.tabWrapper {
  position: relative;
  top: 20px;
}

.searchBar {
  font-family: "Nunito", sans-serif;
  text-align: center;
  border-radius: 5px;
  border: none;
  width: 80%;
  box-shadow: 2px 2px rgb(150, 150, 150);
}
